<?xml version="1.0" encoding="UTF-8"?>
<!--Open Liberty documentation does not use schema in examples.-->
<server description="Jakarta EE example server">
    <featureManager>
        <feature>servlet-4.0</feature>
        <feature>jsonb-1.0</feature>
        <feature>cdi-2.0</feature>
        <feature>jsf-2.3</feature>
        <feature>jsp-2.3</feature>
        <feature>el-3.0</feature>
        <feature>jaxrs-2.1</feature>
        <feature>jpa-2.2</feature>
    </featureManager>
    <dataSource id="WindSurfDataSource" jndiName="jdbc/WindSurf">
        <jdbcDriver javax.sql.XADataSource="org.h2.jdbcx.JdbcDataSource"
                    javax.sql.ConnectionPoolDataSource="org.h2.jdbcx.JdbcDataSource"
                    javax.sql.DataSource="org.h2.jdbcx.JdbcDataSource"
                    libraryRef="H2JDBCLib"/>
        <properties URL="jdbc:h2:mem:simple-rpg-characters"/>
    </dataSource>

    <library id="H2JDBCLib">
        <fileset dir="${wlp.install.dir}/usr/shared/resources" includes="h2-1.4.200.jar"/>
    </library>

    <logging consoleLogLevel="INFO" />
</server>
